h2 {
    font-size: 1.2rem;
    user-select: none;
}

.cardVote {
    margin-right: 2%;
    font-size: 1.2rem;
}

.voteArrows {
    font-size: 2rem;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    cursor: pointer;
    user-select: none;
}

@media only screen and (max-width: 800px) {
    .cardVote {
        font-size: 0.9rem;
    }

    h2 {
        font-size: 0.8rem;
    }

    .voteArrows {
        font-size: 1rem;
    }

  }