.header {
    display: flex;
    flex-wrap: wrap;
    background-color: #df4a00;
    padding: 20px 60px;
    box-shadow: 10px 10px;
}

form {
    display:flex;
    flex-direction:row;
  }

input {
    margin-left: 25px;
    border: none;
    text-align: center;
    width: 33%;
    min-width: 300px;
    min-height: 40px;
    background-color: #bdbbbb;
    border-radius: 15px 0px 0px 15px;
    box-shadow: 2px 2px 8px rgb(58, 58, 58);  
}

input[type="text"] {
    color: #4b4b4b;
    opacity: 1; /* Firefox */
    font-size: 1rem;
    font-weight: 550;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #4b4b4b;
    opacity: 1; /* Firefox */
    font-size: 1rem;
    font-weight: 550;
  }

button {
    border: none;
    background-color: #bdbbbb;
    border-radius: 0px 15px 15px 0px;
    box-shadow: 2px 2px 5px rgb(58, 58, 58);  
}

#searchButton {
    width: 25px;
}

body {
    color: white;
    font-size: 2rem;
    font-weight: 650;
}

span {
    font-style: italic;
    font-weight: 300;
}

img {
    width: 40px;
    margin-right: 0.2rem;
}


@media only screen and (max-width: 715px) {
    .header {
        padding: 20px 100px;
        margin: auto;
        text-align: center;
        padding-bottom: 20px;
    }
    input {
        margin: 5px 0;
    }

    button {
        margin: 5px 0;
    }
  }